<div class="flex-wrapper">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <footer class="footer mt-auto">
    <div class="footer-py-30 footer-bar">
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="text-sm-start">
              <p class="mb-0">
                ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                2022 eBiblioteka.
              </p>
            </div>
          </div>
          <!--end col-->

          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </div>
  </footer>
</div>
